{% extends 'layout.twig' %}

{% block title %}
    Novo Projeto
{% endblock %}

{% block content %}
    <form method="POST" action="/dashboard/add-project/save">
        <nav>
            <a href="/dashboard">Cancelar</a>
            <input type="submit" value="Salvar">
        </nav>
        <input type="text" name="codename" placeholder="Titulo do projeto" required>
        <input type="number" name="code" placeholder="Código" required>
        <br>
        <textarea name="description" placeholder="Descrição" required></textarea>
        <br>
        <input type="date" name="start_date" placeholder="" required>
        <input type="date" name="end_date" placeholder="" required>
        <br>
        <textarea name="scope" placeholder="Escopo" required></textarea>
        <br>
        <input type="text" name="links" placeholder="Links" required>
        <br>
        <input type="text" name="tags" placeholder="Tags" required>
        <br>
        <select name="client_id" required>
            {% for client in clients %}
                <option value="{{client.clientId}}">{{client.name}}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}